*.cpp linguist-detectable=true
*.hpp linguist-detectable=true
*.h linguist-detectable=true
*.c linguist-detectable=true
*.h linguist-detectable=true
*.md linguist-documentation

*.html linguist-vendored
